html {
  background-color: #E9EBEE;
  font-family: helvetica;
}

img {
  max-width: 100%;
}

#facebook-wrapper {

}

#header {
  background-color: #3b5998;
  overflow: hidden;

}

#header-inner {
  max-width: 900px;
  margin: auto;
}

#left-header {

}

#right-header {
  float: right;

}

#right-header div {
  float: left;
}

#fb-logo {
  height: 24px;
  width: 24px;
  background-image: url('fb_sprite.png');
  background-size: 26px 905px;
  background-position: 0 -163px;
}

#fb-logo, #fb-search {
  float: left;
  margin-left: 10px;
}

#fb-search input {
  border-radius: 5px;
  width: 200px;
}

#small-avatar img {
  height: 24px;
  width: 24px;
}

#menu-avatar-name {
  float: left;
}

/*A catch all for the 3 social icon divs*/
.social-icon {
  height: 24px;
  width: 24px;
  background-image: url('fb_sprite.png');
  background-size: 26px 905px;
  margin-left: 10px;
  float: left;
}


.friends {
  background-position: 0 -188px;
}

.messages {
  background-position: 0 -338px;
}

.notifications {
  background-position: 0 -238px;
}

.lock {
  background-position: 0 -859px;
  height: 16px;
  /*This will override the social-icon margin*/
  margin-left: 10px;
}

.down-arrow {
  background-position: 0 -825px;
  height: 16px;
}

.spacer {
  line-height: 24px;
  margin: 0 10px;
}

#cover-photo-wrapper {
  max-width: 900px;
  margin: auto;
  width: 100%;
  position: relative;
}

#big-photo {
  max-height: 350px;
  overflow: hidden;
}

#big-photo img {
  width: 100%;
}

#big-avatar {
  float: left;
  width: 160px;
  height: 160px;
  border: solid #fff 4px;
  overflow: hidden;
  position: absolute;
  top: 200px;
  left: 20px;
  outline: solid gray 1px;
}

#cover-avatar-name {
  position: absolute;
  bottom: 30px;
  left: 205px;
  color: white;
  font-size: 24px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}



#cover-buttons {
  float: right;
  position: absolute;
  bottom: 30px;
  left: 692px;
}

#cover-menu {
  float: left;
  padding-left: 208px;
  padding-right: 278px;
  background-color: #fff;
  border-left: solid gray 1px;
  border-right: solid gray 1px;
  border-bottom: solid gray 1px;
  border-radius: 0px 0px 5px 5px;
}

.cover-menu-item {
  float: left;
  list-style-type: none;
  padding: 20px;
  color: #3b5998;
  font-size: 14px;
}
